:root {
  --color1-light-purple: #666ca3;
  --color2-dark-blue: #13183f;
  --color3-grey: #83869a;
  --color4-dark-pink: #f74780;
  --color5-light-pink: #ffa7c3;
  --color6-white: #ffffff;
  --color1-gradient-pink: #f02aa6;
  --color2-gradient-orange: #ff6f48;
  --color3-gradient-purple: #4851ff;
  --color4-gradient-blue: #f0f1ff;
}

html {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  width: 100%;
}

.navbar {
  padding: 2.4rem 16.4rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 2.768rem;
}

.btn-nav {
  height: 5.6rem;
  min-width: 16.7rem;
  background-color: var(--color2-dark-blue);
  color: var(--color6-white);
  border: none;
  border-radius: 2.8rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.btn-nav:hover {
  cursor: pointer;
  background-color: var(--color1-light-purple);
}

.top-section {
  padding: 0 16.4rem 3rem 16.4rem;
  display: flex;
  justify-content: space-between;
}

.maximize {
  max-width: 45.7rem;
  max-height: 35.9rem;
  margin-top: 17.2rem;
  margin-bottom: 22.6rem;
}

.maximize h1 {
  font-size: 5.6rem;
  line-height: 7.056rem;
  color: var(--color2-dark-blue);
  font-weight: 800;
  margin-bottom: 2.9rem;
}

.maximize p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--color3-grey);
  font-weight: 500;
  margin-right: 2.63%;
  margin-bottom: 4rem;
}

.maximize button {
  width: 16.7rem;
  height: 6.3rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--color6-white);
  font-weight: 700;
  border: none;
  border-radius: 3.15rem;
  background: linear-gradient(
    var(--color2-gradient-orange),
    var(--color1-gradient-pink)
  );
}

.maximize button:hover {
  cursor: pointer;
  background: linear-gradient(0deg, #ffffff80, #ffffff80),
    linear-gradient(
      180deg,
      var(--color2-gradient-orange) 0%,
      var(--color1-gradient-pink) 100%
    );
}

.image img {
  height: 86rem;
  width: 75.6rem;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
  object-fit: cover;
  object-position: 50px 5px;
  zoom: 1.1;
}

.bottom-section {
  padding: 2.4rem 16.4rem 12rem 16.4rem;
  height: 50%;
  width: 100%;
  margin: auto;
  background: linear-gradient(
    180deg,
    var(--color6-white) 0%,
    var(--color4-gradient-blue) 30%
  );
}

.cards-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: red;
}

.card {
  min-width: 35rem;
  min-height: 32.2rem;
  max-width: 35rem;
  max-height: 32.2rem;
  border: none;
  margin: 1rem;
  margin-bottom: 6rem;
  border-radius: 1.5rem;
  padding: 0 3.2rem 4rem 3.2rem;
}

.icon {
  position: relative;
  top: -30px;
}

.first-card {
  padding: 6.4rem 3.2rem 4rem 3.2rem;
  background: linear-gradient(
    var(--color2-gradient-orange),
    var(--color1-gradient-pink)
  );
}

.first-card h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--color6-white);
}

.course-card {
  background-color: var(--color6-white);
}

.course-card h3 {
  font-size: 2.4rem;
  line-height: 3.024rem;
  font-weight: 800;
  color: var(--color2-dark-blue);
  margin-bottom: 2.4rem;
}

.course-card p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: var(--color3-grey);
}

.course-card button {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: var(--color1-gradient-pink);
  border: none;
  background: transparent;
}

.course-card button:hover {
  cursor: pointer;
  color: var(--color5-light-pink);
}

footer {
  background-color: var(--color2-dark-blue);
  padding: 0 16.4rem;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-footer {
  height: 5.6rem;
  min-width: 16.7rem;
  background: linear-gradient(
    var(--color3-gradient-purple) -54.32%,
    var(--color1-gradient-pink)
  );
  color: var(--color6-white);
  border: none;
  border-radius: 2.8rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.btn-footer:hover {
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(
      180deg,
      var(--color3-gradient-purple) -54.32%,
      var(--color1-gradient-pink) 100%
    );
}

::-webkit-scrollbar {
  display: none;
}

/* iPad Air 820 x 1180  */

@media (max-width: 820px) {
  .navbar {
    padding: 2.4rem 4rem;
  }

  .top-section {
    padding: 0 4rem 3rem 4rem;
  }

  .maximize {
    max-width: 39.8rem;
    max-height: 28.4rem;
  }

  .maximize h1 {
    font-size: 4rem;
    line-height: 5.04rem;
    margin-bottom: 2.5rem;
  }

  .maximize p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
  }

  .maximize button {
    width: 16.7rem;
    height: 5.6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .image img {
    height: 86rem;
    width: 52rem;
    zoom: 0;
  }

  .bottom-section {
    padding: 2.4rem 4rem 7rem 4rem;
  }

  .card {
    min-width: 33.9rem;
    min-height: 25.9rem;
    max-width: 33.9rem;
    max-height: 25.9rem;
    padding: 0 2rem 4rem 3.2rem;
  }

  .first-card h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-top: 5rem;
  }

  .course-card h3 {
    font-size: 2rem;
    line-height: 2.52rem;
    margin-bottom: 1.6rem;
  }

  .course-card p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
  }

  footer {
    padding: 0 3.5rem;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media (max-width: 414px) {
  .navbar {
    padding: 1.6rem;
  }

  .top-section {
    padding: 0 1.6rem;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .maximize {
    max-width: 34.3rem;
    max-height: 10.1rem;
    margin-top: 3.2rem;
    margin-bottom: 22rem;
  }

  .maximize h1 {
    font-size: 4rem;
    line-height: 5.04rem;
    margin-bottom: 2.6rem;
  }

  .maximize p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
  }

  .maximize button {
    width: 16.7rem;
    height: 5.6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .image img {
    position: unset;
    height: 100%;
    width: 39rem;
    object-position: unset;
    z-index: unset;
  }

  .bottom-section {
    padding: 0 1.6rem 4rem 1.6rem;
  }

  .card {
    min-width: 33.9rem;
    min-height: 25.9rem;
    max-width: 33.9rem;
    max-height: 25.9rem;
    padding: 0 2rem 4rem 3.2rem;
  }

  .first-card {
    min-height: 12rem;
    max-height: 12rem;
  }

  .first-card h2 {
    padding-top: 2.4rem;
  }

  footer {
    padding: 0 1.6rem;
  }
}
